<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Manager</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="bs-header">
      <div class="container">
        <h1>Contact Manager</h1>
        <p>Simple Angular.js example application</p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 main-container">
          <div ui-view></div>
        </div>
      </div>
    </div>




      <script type="text/ng-template" id="all-contacts">
      <h2 class="page-header text-center">List of contacts</h2>
      <p class="text-center">
        <a href="#/add" class="btn btn-lg btn-outline">Add Contact</a>
      </p>
      <ul class="media-list row contacts-container">
        <li ng-repeat="item in contacts" class="media col-md-6 col-lg-4">
        
        <div class="thumbnail">
            <img class="media-object" ng-src="app/img/faces/{{item.src}}.jpg">
          </div>
          <div class="media-heading">
            <h3>
              {{item.name}}
              <small>
                <a href="#/edit/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" ng-click="delete( $index ,item.id )" class="delete-contract">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </small>
            </h3>
          </div>
          <div class="media-body">
            <dl>
              <dt>Phone Number:</dt>
              <dd>{{item.tel}}</dd>
              <dt>Email:</dt>
              <dd>{{item.email}}</dd>
            </dl>
          </div>
          <hr/>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="contact-form">
      <h2 class="page-header text-center">{{formName}}</h2>
      <form role="form" name="addContactForm" class="form-horizontal contract-form" ng-submit="submit($event)">
        <div class="form-group">
          <label class="col-sm-4 control-label">Full name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control contact-name-input" ng-model="item.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Email address:</label>
          <div class="col-sm-6">
            <input type="email" class="form-control contact-email-input" ng-model="item.email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Telephone number:</label>
          <div class="col-sm-6">
            <input type="tel" class="form-control contact-tel-input" ng-model="item.tel" >
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
          </div>
          <div class="col-sm-3">
            <a href="#/" class="btn btn-outline btn-lg btn-block">Cancel</a>
          </div>
        </div>
      </form>
    </script>

   

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app/js/app.js"></script>
  </body>
</html>
